@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Poppins, sans-serif;
  --font-mono: Hind, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.875rem;
  --font-serif: Poppins, serif;
  --radius-xs: 0.125rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.43;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.56;
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.33;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.4;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.33;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.11;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --shadow-2xs: 0 1px 0 0 oklch(0.000 0.000 0.000 / 0.05);
  --shadow-xs: 0 1px 2px 0 oklch(0.000 0.000 0.000 / 0.05);
  --shadow-sm: 0 1px 3px 0 oklch(0.000 0.000 0.000 / 0.1), 0 1px 2px -1px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-md: 0 4px 6px -1px oklch(0.000 0.000 0.000 / 0.1), 0 2px 4px -2px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-lg: 0 10px 15px -3px oklch(0.000 0.000 0.000 / 0.1), 0 4px 6px -4px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-xl: 0 20px 25px -5px oklch(0.000 0.000 0.000 / 0.1), 0 8px 10px -6px oklch(0.000 0.000 0.000 / 0.1);
  --shadow-2xl: 0 25px 50px -12px oklch(0.000 0.000 0.000 / 0.25);
  --drop-shadow-xs: 0 1px 1px 0 oklch(0.000 0.000 0.000 / 0.05);
  --drop-shadow-sm: 0 1px 2px 0 oklch(0.000 0.000 0.000 / 0.15);
  --drop-shadow-md: 0 3px 3px 0 oklch(0.000 0.000 0.000 / 0.12);
  --drop-shadow-lg: 0 4px 4px 0 oklch(0.000 0.000 0.000 / 0.15);
  --drop-shadow-xl: 0 9px 7px 0 oklch(0.000 0.000 0.000 / 0.1);
  --drop-shadow-2xl: 0 25px 25px 0 oklch(0.000 0.000 0.000 / 0.15);
  --inset-shadow-2xs: inset 0 1px 0 0 oklch(0.000 0.000 0.000 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px 0 oklch(0.000 0.000 0.000 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px 0 oklch(0.000 0.000 0.000 / 0.05);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1.000 0.000 0.000);
  --foreground: oklch(0.145 0.000 0.000);
  --card: oklch(1.000 0.000 0.000);
  --card-foreground: oklch(0.145 0.000 0.000);
  --popover: oklch(1.000 0.000 0.000);
  --popover-foreground: oklch(0.145 0.000 0.000);
  --primary: oklch(0.811 0.151 72.596);
  --primary-foreground: oklch(0.205 0.000 0.000);
  --secondary: oklch(0.970 0.000 0.000);
  --secondary-foreground: oklch(0.205 0.000 0.000);
  --muted: oklch(0.970 0.000 0.000);
  --muted-foreground: oklch(0.556 0.000 0.000);
  --accent: oklch(0.970 0.000 0.000);
  --accent-foreground: oklch(0.205 0.000 0.000);
  --destructive: oklch(0.577 0.215 27.325);
  --border: oklch(0.922 0.000 0.000);
  --input: oklch(0.922 0.000 0.000);
  --ring: oklch(0.6231 0.188 259.81);
  --chart-1: oklch(0.646 0.194 41.116);
  --chart-2: oklch(0.600 0.104 184.704);
  --chart-3: oklch(0.398 0.066 227.392);
  --chart-4: oklch(0.837 0.164 84.429);
  --chart-5: oklch(0.769 0.165 70.080);
  --sidebar: oklch(0.985 0.000 0.000);
  --sidebar-foreground: oklch(0.145 0.000 0.000);
  --sidebar-primary: oklch(0.205 0.000 0.000);
  --sidebar-primary-foreground: oklch(0.985 0.000 0.000);
  --sidebar-accent: oklch(0.970 0.000 0.000);
  --sidebar-accent-foreground: oklch(0.205 0.000 0.000);
  --sidebar-border: oklch(0.922 0.000 0.000);
  --sidebar-ring: oklch(0.715 0.000 0.000);
  --destructive-foreground: oklch(0.971 0.013 17.380);
}

.dark {
  --background: oklch(0.145 0.000 0.000);
  --foreground: oklch(0.985 0.000 0.000);
  --card: oklch(0.205 0.000 0.000);
  --card-foreground: oklch(0.985 0.000 0.000);
  --popover: oklch(0.269 0.000 0.000);
  --popover-foreground: oklch(0.985 0.000 0.000);
  --primary: oklch(0.811 0.151 72.596);
  --primary-foreground: oklch(0.205 0.000 0.000);
  --secondary: oklch(0.269 0.000 0.000);
  --secondary-foreground: oklch(0.985 0.000 0.000);
  --muted: oklch(0.269 0.000 0.000);
  --muted-foreground: oklch(0.715 0.000 0.000);
  --accent: oklch(0.371 0.000 0.000);
  --accent-foreground: oklch(0.985 0.000 0.000);
  --destructive: oklch(0.711 0.166 22.216);
  --border: oklch(1.000 0.000 0.000 / 0.1);
  --input: oklch(1.000 0.000 0.000 / 0.15);
  --ring: oklch(0.5461 0.2152 262.88);
  --chart-1: oklch(0.488 0.217 264.376);
  --chart-2: oklch(0.696 0.149 162.480);
  --chart-3: oklch(0.769 0.165 70.080);
  --chart-4: oklch(0.627 0.233 303.900);
  --chart-5: oklch(0.645 0.215 16.439);
  --sidebar: oklch(0.205 0.000 0.000);
  --sidebar-foreground: oklch(0.985 0.000 0.000);
  --sidebar-primary: oklch(0.269 0.000 0.000);
  --sidebar-primary-foreground: oklch(0.985 0.000 0.000);
  --sidebar-accent: oklch(0.269 0.000 0.000);
  --sidebar-accent-foreground: oklch(0.985 0.000 0.000);
  --sidebar-border: oklch(1.000 0.000 0.000 / 0.1);
  --sidebar-ring: oklch(0.439 0.000 0.000);
  --destructive-foreground: oklch(0.971 0.013 17.380);
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
  }
  .heading-xl {
    font-family: Poppins;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
  }
  .heading-lg {
    font-family: Poppins;
    font-size: 2.25rem;
    line-height: 1.11;
    font-weight: 700;
  }
  .heading-md {
    font-family: Poppins;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .heading-sm {
    font-family: Poppins;
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: 700;
  }
  .container-padding-x {
    padding-inline: 1.5rem;
  }
  .section-padding-y {
    padding-block: 6rem;
  }
  .section-title-gap-xl {
    gap: 1.5rem;
  }
  .section-title-gap-lg {
    gap: 1.25rem;
  }
  .section-title-gap-md {
    gap: 1.25rem;
  }
  .section-title-gap-sm {
    gap: 1rem;
  }
}

@layer utilities {
  /* Default focus ring - used by most components */
  .lexi-focus-ring {
    @apply outline-none
      focus-visible:ring-[2px]
      focus-visible:ring-ring/100
      focus-visible:ring-offset-2
      focus-visible:ring-offset-background;
  }

  /* Destructive focus ring - used by destructive components */
  .lexi-focus-ring-destructive {
    @apply outline-none
      focus-visible:ring-[2px]
      focus-visible:ring-destructive
      dark:focus-visible:ring-destructive
      focus-visible:ring-offset-2
      focus-visible:ring-offset-background;
  }
}

@media screen and (max-width: 80rem) {
  .heading-xl {
    font-family: Poppins;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .heading-lg {
    font-family: Poppins;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .heading-md {
    font-family: Poppins;
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .heading-sm {
    font-family: Poppins;
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: 700;
  }
  .container-padding-x {
    padding-inline: 1.5rem;
  }
  .section-padding-y {
    padding-block: 4rem;
  }
  .section-title-gap-xl {
    gap: 1rem;
  }
  .section-title-gap-lg {
    gap: 1rem;
  }
  .section-title-gap-md {
    gap: 1.25rem;
  }
  .section-title-gap-sm {
    gap: 1rem;
  }
}